* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header: #f5c6c6;
    --background_page: #F9E6E6;

    --cor_titulo: #CA6C79;
    --cor_subtitulo: #83434E;
    --cor_media: #DF788B;
    --cor_texto: rgb(75, 72, 72);
}

body {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}

/* ------------------------------------------------- */
html {
    scroll-behavior: smooth;
}

header {
    height: 45px;
    background-color: var(--header);

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header > svg {
    margin-left: 5px;
}

/* ------------------------------------------------- */

main {
    background-color: var(--background_page);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

section {
    margin: 10px 0;
    padding: 20px;
}

/* ------------------------------------------------- */

#section_one {
    text-align: center;
    max-width: 350px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#section_one > h1 {
    font-family: "Dancing Script", cursive;
    font-size: 3em;
    color: var(--cor_titulo);
}

#section_one p {
    color: var(--cor_texto);
}

#section_one > .cartao {
    position: relative;
    padding: 10px 10px 50px 10px;
    width: 60%;
    height: 300px;
    background-color: white;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.192);

    transform: rotate(2deg);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

#section_one > .cartao > .adesivo {
    position: absolute;
    top: -3px; left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: 20px;
    background-color: #F3BCC3;
    opacity: 0.6;
}

#section_one > .cartao > .img {
    width: 100%;
    height: 100%;
}

#section_one > .cartao > .img > img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* preenche toda a div */
    object-position: center;
    display: block;
}

#section_one > .btn {
    display: inline-block;
    padding: 13px 25px;
    font-size: 1em;
    background-color: var(--cor_media);
    color: white;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    transition: 0.4s;
    cursor: pointer;
}

#section_one > .btn:hover {
    transform: translate(-2px, -2px);
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
}

/* ------------------------------------------------- */

#section_two {
    text-align: center;
    background-color: white;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

#section_two > .content {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#section_two > .content > h2 {
    font-size: 2rem;
    color: var(--cor_subtitulo);
}

#section_two > .content > p {
    color: var(--cor_texto);
}

#section_two > .content > .quadro {
    width: 80%;
    height: 300px;
    background: #8b5e3c;

    /* moldura */
    border: 12px solid #8b5e3c;
    border-top-color: #a9754f;
    border-left-color: #a9754f;
    border-right-color: #6f492d;
    border-bottom-color: #6f492d;

    box-shadow:
        0 8px 20px rgba(0,0,0,.35),
        inset 0 2px 2px rgba(255,255,255,.2),
        inset 0 -3px 3px rgba(0,0,0,.3);

    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#section_two > .content > .quadro > .img {
    width: 86%;
    height: 86%;
    background: white;
    padding: 6px;
}

#section_two > .content > .quadro > .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#section_two > .content > .quadrados {
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#section_two > .content > .quadrados > div {
    padding: 10px;
    background-color: var(--header);
    width: 40%;
    border-radius: 20px;
    color: var(--cor_subtitulo);
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

/* ------------------------------------------------- */

#section_three {
    text-align: center;
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#section_three > h2 {
    font-size: 2rem;
    color: var(--cor_subtitulo);
}

#section_three > .local_fotos {
    width: 100%;
    height: 150px;

    display: flex;
    gap: 7px;
}

#section_three > .local_fotos > .img {
    width: 86%;
    height: 100%;
    overflow: hidden;

    border-radius: 15px;
}

#section_three > .local_fotos > .img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#section_three > .mensagem_final {
    position: relative;
    padding: 20px;
    width: 100%;
    background-color: white;

    border-radius: 15px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

#section_three > .mensagem_final > svg {
    position: absolute;
    top: 3px; left: 50%;
    transform: translate(-50%, -50%);
}

#section_three > .mensagem_final > h2 {
    color: var(--cor_subtitulo);
}

#section_three > .mensagem_final > p {
    color: var(--cor_texto);
}

#section_three > .mensagem_final > p:last-child {
    font-family: "Dancing Script", cursive;
    font-size: 2.2rem;
    color: var(--cor_titulo);
}

/* ------------------------------------------------- */

footer {
    width: 100%;
    height: 30px;
    text-align: center;
    background-color: var(--header);

    display: flex;
    justify-content: center;
    align-items: center;
}

footer > p {
    font-size: 0.9rem;
    color: var(--cor_subtitulo);
}